### Data for Customers Table

In [ ]:
INSERT INTO `LittleLemonDB`.`Customers` (`CustomerName`, `PhoneNumber`, `EmailAddress`) VALUES ('Aaron', '9318 0238', 'aaron@gmail.com');
INSERT INTO `LittleLemonDB`.`Customers` (`CustomerName`, `PhoneNumber`, `EmailAddress`) VALUES ('Brenda', '8052 3920', 'brenda@gmail.com');
INSERT INTO `LittleLemonDB`.`Customers` (`CustomerName`, `PhoneNumber`, `EmailAddress`) VALUES ('Cain', '9508 7314', 'cain@gmail.com');
INSERT INTO `LittleLemonDB`.`Customers` (`CustomerName`, `PhoneNumber`, `EmailAddress`) VALUES ('Dan', '9200 3871', 'dan@gmail.com');
INSERT INTO `LittleLemonDB`.`Customers` (`CustomerName`, `PhoneNumber`, `EmailAddress`) VALUES ('Erica', '9873 8956', 'erica@gmail.com');

### Data for Bookings Table

In [ ]:
INSERT INTO `LittleLemonDB`.`Bookings` (`BookingDate`, `BookingTime`, `TableNumber`, `NumberOfGuests`, `CustomerID`) VALUES ('2023-05-05', '17:00:00', '1', '1', '1');
INSERT INTO `LittleLemonDB`.`Bookings` (`BookingDate`, `BookingTime`, `TableNumber`, `NumberOfGuests`, `CustomerID`) VALUES ('2023-05-05', '17:00:00', '2', '2', '2');
INSERT INTO `LittleLemonDB`.`Bookings` (`BookingDate`, `BookingTime`, `TableNumber`, `NumberOfGuests`, `CustomerID`) VALUES ('2023-05-05', '17:30:00', '3', '3', '3');
INSERT INTO `LittleLemonDB`.`Bookings` (`BookingDate`, `BookingTime`, `TableNumber`, `NumberOfGuests`, `CustomerID`) VALUES ('2023-05-05', '18:30:00', '4', '4', '4');
INSERT INTO `LittleLemonDB`.`Bookings` (`BookingDate`, `BookingTime`, `TableNumber`, `NumberOfGuests`, `CustomerID`) VALUES ('2023-05-05', '20:00:00', '5', '5', '5');

### Data for MenuItems Table

In [ ]:
INSERT INTO `LittleLemonDB`.`MenuItems` (`StarterName`, `CourseName`, `DrinkName`, `DessertName`) VALUES ('Spring Roll', 'Chicken Rice', 'Chinese Tea', 'Egg Tart');
INSERT INTO `LittleLemonDB`.`MenuItems` (`StarterName`, `CourseName`, `DrinkName`, `DessertName`) VALUES ('Focaccia', 'Carbonara', 'Campari', 'Tiramisu');

### Data for Menu Table

In [ ]:
INSERT INTO `LittleLemonDB`.`Menu` (`Name`, `Cuisine`, `Description`, `Price`, `MenuItemsID`) VALUES ('Chinese', 'Chinese', 'Chinese', '100', '1');
INSERT INTO `LittleLemonDB`.`Menu` (`Name`, `Cuisine`, `Description`, `Price`, `MenuItemsID`) VALUES ('Italian', 'Italian', 'Italian', '150', '2');

### Data for Orders Table

In [ ]:
INSERT INTO `LittleLemonDB`.`Orders` (`Date`, `MenuID`, `Quantity`, `TotalCost`, `BookingID`, `CustomerID`) VALUES ('2023-05-05', '1', '1', '100', '1', '1');
INSERT INTO `LittleLemonDB`.`Orders` (`Date`, `MenuID`, `Quantity`, `TotalCost`, `BookingID`, `CustomerID`) VALUES ('2023-05-05', '1', '2', '200', '2', '2');
INSERT INTO `LittleLemonDB`.`Orders` (`Date`, `MenuID`, `Quantity`, `TotalCost`, `BookingID`, `CustomerID`) VALUES ('2023-05-05', '2', '3', '450', '3', '3');
INSERT INTO `LittleLemonDB`.`Orders` (`Date`, `MenuID`, `Quantity`, `TotalCost`, `BookingID`, `CustomerID`) VALUES ('2023-05-05', '1', '4', '400', '4', '4');
INSERT INTO `LittleLemonDB`.`Orders` (`Date`, `MenuID`, `Quantity`, `TotalCost`, `BookingID`, `CustomerID`) VALUES ('2023-05-05', '2', '5', '750', '5', '5');

### Data for Staff Table

### Data for Order delivery statuses Table